.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}
.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img_figma/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}



.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu{
    display: block;
}

.lista-menu__tituto , 
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__tituto {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__item a{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}
.container__botao {
    display: none;
}

.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner__pesquisa::placeholder{
    font-family: var(--font-poppins);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    background-image: url("../img_figma/lupa.svg");
    background-repeat: no-repeat;
    background-position: 1em;
}


.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer {
    background-image: url("../img_figma/Menu\ Aberto.png");
}

.container__botao:checked~.container__rotulo{
    background: var(--azul-degrade);
}
.container__titulo{
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {

    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--font-JosefinSans);
        font-size: 30px;
    }
    
    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }
    
    .trasnparete_1024 {
        display: none;
    }

    .cabecalho__menu-hamburguer-1024-off {
        display: none;
    }
    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .banner{
        padding: 5em 0;
    }
    
    .banner__titulo {
        font-size: 36px;
    }

    .banner__pesquisa {
        width: 50%;
    }

    .banner__pesquisa::placeholder {
        background-position: 6em;
    }

    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item{
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover> .lista-menu__link{
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
        color: var(--branco);
    }
}


@media screen and (min-width: 1728px){
    .container__link {
        display: flex;
        align-items: center;
        margin-right: 3px;
        text-decoration: none;
        color: var(--preto);
    }
    
    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }

    .container__texto {
        display: block;
    }

    .banner__pesquisa {
        width: 30%;
    }

    .banner__pesquisa::placeholder {
        background-position: 9em;
    }
}