.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topico__titulo {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
}

.topico__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topico__item {
    margin: 2em 0.5em;
}
.topicos__link {
    font-size: 14px;
    font-weight: 700;
    color: var(--branco);
    text-decoration: none;
    padding: 1em;
    background-color: var(--laranja);
}

@media screen and (min-width: 1024px) {
    .topico__titulo {
        font-size: 24px;
    }

    .topicos__link {
        font-size: 24px;
    }

}


@media screen and (min-width: 1728px) {
    .topicos {
        padding:  3em 30vw;
    }
}
